{% extends "layout.html" %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ poll.name }}</h1>
        <p class="lead">{{ poll.description }}</p>
        <hr class="my-4">
        <p>Luonut:{{ get_creator_name() }}</p>
    </div>
</div>

<form method="POST" action="{{ url_for('polls_set_upvote', poll_id=poll.id) }}">
    <input class="btn btn-success" type="submit" value="Up 👍">
</form>

<form method="POST" action="{{ url_for('polls_set_neutralvote', poll_id=poll.id) }}">
    <input class="btn btn-primary" type="submit" value="Neutral 🤞">
</form>

<form method="POST" action="{{ url_for('polls_set_downvote', poll_id=poll.id) }}">
    <input class="btn btn-danger" type="submit" value="Down 👎">
</form>

<p>Senaatti arkistoitu:{{ poll.done }}</p>     	
{% if current_user.id == poll.account_id %}
<p>Olet luonut tämän senaatin.</p>
{% if userswhovoted is defined %}
<p>Seuraavat käyttäjät ovat äänestäneet tässä senaatissa:</p>
<ul>
  {% for user in userswhovoted %}
  <li>
    {{user.id}} {{user.name}}
  </li>
  {% endfor %}
</ul>

{% endif %}
<form method="POST" action="{{ url_for('polls_set_done', poll_id=poll.id) }}">
    <input type="submit" value="Arkistoi!"/>
</form>
<form method="POST" action="{{ url_for('polls_delete', poll_id=poll.id) }}">
    <input type="submit" value="Poista senaatti!"/>
</form>
{% endif %}
<form
{% endblock %}
